{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamers log</title>
   
     <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> --}}

    <!-- ==============================================
		HEADER
=============================================== -->
</head>
<section class="primary"><em></em>
    <header class="header">
        <h1><span class="topbar"></span></h1>
        <nav>
            <ul>
                <li>
                    <a href="#">Search</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
                
            </ul>
        </nav>
    </header>
</section>
<!-- ==============================================
		Hot Gaming topics
=============================================== -->


<body>
    <div class="row">
        <div class="column">
            <figure class="image is-256x256">
          <img class="is-rounded" src="/images/kingdom hearts 3 cover art.jpg" alt="gamers-choice-1" style="width:100%">
        </figure>
        </div>

        <div class="column">
            <figure class="image is-256x256">
          <img class="is-rounded" src="/images/monster hunter rise cover art.jpeg" alt="gamers-choice-2" style="width:100%">
        </figure>
        </div>

        <div class="column">
            <figure class="image is-256x256">
          <img class="is-rounded" src="/images/destiny 2.jpeg" alt="gamers-choice-3" style="width:100%">
        </figure>
        </div>
  </div>
<br><br>
<main class="middle-content" src="/images/hot topics.jpg"> 
    

    <article id="Gaming topic 1"class="gaming-topic-1">

  
 <img src="/images/2022 Game awards.jpg" class="float-left" />
    <h2>The 2022 Game Awards</h2>
    <p>
        The Game Awards is honoring some of the best games of 2022.The Game Awards 2022 took place this evening from Los Angeles. Many awards were handed out throughout the course of the lengthy show, culminating with the announcement of the highly coveted overall Game of the Year award.

        The winner was From Software's Elden Ring, which beat out other GOTY nominees like A Plague Tale: Requiem, God of War Ragnarok, Horizon Forbidden West, Stray, and Xenoblade Chronicles 3.
    </p>
  
    </article>

<article id="Gaming topic 2" class="gaming-topic-2">
    
    <img src="/images/idries elba joins cyberpunk.jpg" alt="cyberpunk"class="float-right" />
    <h2>Idris Elba joins Cyberpunk 2077:Phantom Liberty</h2>
    <p>
        Elba joins Keanu Reeves in next year's major Cyberpunk 2077 expansion.<br>
        Developer CD Projekt Red has since confirmed Elba will be playing a character called Solomon Reed, a veteran New United States of America agent who the studio has teased is "apparently the only person players can trust to help them fulfill an impossible mission of espionage and survival."

    </p>
</article>


<article id="Gaming topic 3" class="gaming-topic-3">
    <!--Added description of image-->
    <img src="/images/hade_II.jpg" alt="social-media-marketing information table meeting" class="float-left" />
    <h2>Hades II Announced at The Game Awards</h2>
    <p>
        It's official: Supergiant Games' Hades is getting a sequel, with Hades II getting a first look at tonight's Game Awards.
<br>
Further details, like release window and platform availability, were not immediately announced. It will release in early access in 2023.
    </p>
</article>
</main>
<!-- ==============================================
		side bar
=============================================== -->

<!-- ==============================================
		footer
=============================================== -->

<footer class="footer">
	<div class="footer_text-box"> 
		<p id="footer_text">© Je'rontai mcfee, </p>
	</div>

</footer>
</body>





</body>
</html>