{{!-- maybe need to import data from userseed.js? maybe not --}}

<div class="users">


{{!-- maybe need href link to user-profile that's clickable--}}
    <div id="loggedInUser">
        {{!-- fetch data from userseed.js? maybe not--}}
    </div>


</div>