<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game library</title>
    <link rel="stylesheet " href="./loginpage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>



<body>
<div class="form">
  <h1>LOGIN HERE</h1>

  <input type="text" name="email" placeholder="Enter Email Here">
  <input type="password" name="" placeholder="Enter Pssword Here">
  <button class="bttn"><a href="#">LOGIN</a></button>
  <p class="link">Don't have an account</p>
  <a href="#">Sign up</a> Here </a>
</div>




</body>
</html>