<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game library</title>
    <link rel="stylesheet " href="./style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<section class="primary">Game library

</section>

<body>
<div class="columns">
    
        <br><br><br>
<h1>Gamer's Choice
<figure class="image is-128x128 column " >
<img class="is-rounded" src="./images/destiny 2.jpeg" >
</figure>


<figure class="image is-128x128 column">
<img class="is-rounded" src="./images/kingdom hearts 3 cover art.jpg">
</figure>

 <figure class="image is-128x128 column">
<img class="is-rounded" src="./images/Hades_cover_art.jpg">
</figure>
</h1>
<div class="game-descriptions">
    <h2>
<p>game1
</p>
<p>game 2</p>
<p>game3</p>
</h2>
</div>

</div>
  


</body>
</html>